<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="email-body" style="font-family: sans-serif;">
        <p style="padding: 20px;"> Follow the link below to reset your password </p>
        <a href="{{ reset_link }}" style="text-decoration: none; font-size: large; padding: 0 20px;">
            <strong style="color: #00a6b9;">Reset Your Password</strong>
        </a>
    </div>
</body>
</html>